@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Manrope";
  src: local("Manrope"),
    url(./fonts/Manrope/Manrope-VariableFont_wght.ttf) format("trutype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: Manrope;
}

.compare-btn-gradient {
  background: linear-gradient(90deg, #4958ef 0%, #ee2835 100%);
}

.coming-soon {
  background: linear-gradient(90deg, #4958ef 0%, #ee2835 100%);
  background-clip: text;
  -webkit-background-clip: text;
}